# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl
*/.terraform.lock.hcl
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .plan files
*.plan*
**/*.plan*